@{
    ViewBag.Title = "O nama";
}
<br />
<br />
<br />
<br />
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Studenti 3. godine smjera Poslovna informatika:<br>
             Nikolina Raguž<br>
             Vedran Šagodić
    </p>
