@{
    ViewBag.Title = "Kontakt";
}

<br />
<br />
<br />
<br />
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gajev Trg 7<br />
    31000 Osijek<br />
    Hrvatska<br />
    <abbr title="Telefon">Tel:</abbr>
    +385(0)31 200-211
</address>

<address>
    <strong>Podrška:</strong>   <a href="mailto:vedran.sagodic@gmail.com">vedran.sagodic@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:raguz.nikolina@gmail.com">raguz.nikolina@gmail.com</a>
</address>

